[submodule "llvm/llvm-project"]
	path = llvm/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "protobuf/protobuf"]
	path = protobuf/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/madler/zlib.git
